.add-form{
  display: flex;
  flex-direction: column;
}

.form-section{
  display: flex;
  flex-direction: column;
  padding: 0.3em 0em;
}

.form-section > input{
  padding: 0.4em;
  border-radius: 15px;
}

.form-section > select{
  padding: 0.4em;
  border-radius: 15px;
}

.form-section > select > option{
  font-size: 10pt;
}

.button-submit{
  min-width: 50%;
  padding: 0.4em;
  margin: 0.5em;
  align-self: center;
  background-color: var(--color1);
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 16pt;
}