<h4>Add new item to my shoping list</h4>

<form class="add-form" (ngSubmit)="emitItem()">

  <div class="form-section">
    <label for="name">Name: </label>
    <input
    type="text"
    [(ngModel)]="item.name"
    name="name"
    placeholder="Name">
  </div>
  

  <div class="form-section">
    <label for="quantity">Quantity: </label>
    <input
      type="number"
      [(ngModel)]="item.quantity"
      name="quantity"
      placeholder="Quantity"
      min="1"
      required>
      
  </div>
  
  <div class="form-section">
    <label for="">Grocery categories: </label>
    <select 
      [(ngModel)]="item.type"
      name="type" 
      id="type"
      required
      >
      
      <option value="FruitsVegetables">Fruits and Vegetables</option>
      <option value="DairyProducts">Dairy Products</option>
      <option value="MeatFish">Meat and Fish</option>
      <option value="Bakery">Bakery</option>
      <option value="CerealsGrainProducts">Cereals and Grain Products</option>
      <option value="CannedPackagedFoods">Canned and Packaged Foods</option>
      <option value="Beverages">Beverages</option>
      <option value="Others">Others</option>
    </select>
  </div>

  <button class="button-submit" type="submit" >
    Add
  </button>


</form>