<div class="list-div">
  <ul>
    <li *ngFor = 
        "let item of shoppingList;
        let isOdd = odd" 
        
        [ngClass]="{'even': isOdd}">

        <div class="item-name"> 
          <div class="img {{item.type}} "></div>
          <span> {{ item.name }} </span>
        </div>

        <div class="item-quantity-div">
          <button (click)="onChangeQuantityItem(-1, item.id)">-</button>
          <div> {{ item.quantity }} </div>
          <button (click)="onChangeQuantityItem(+1, item.id)">+</button>
        </div>

        <div class="list-img" [ngClass]="{
          'VegFruits': item.type === 'Fruits and Vegetables'}">
        </div>

        <button class="delete-button" (click)="onDeleteItem(item.id)"> X </button>
    </li>
  </ul>
</div>
