.list-div {
  padding-bottom: 2em;
}

.list-div > ul > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #f2f2f2;
  padding: 1em 0.9em;
}

.item-name{
  min-width: 60%;
  display: flex;
  align-items: center;
  justify-content:flex-start;
}
.item-name > span{
  padding-left: 0.5em;
}

.item-quantity-div{
  display: flex;
  min-width: 20%;
  align-items: center;
}

.item-quantity-div > div {
  padding: 0 0.5em;
}

.item-quantity-div > button {
  padding: 0 0.2em;
}

.delete-button{
  padding: 0.2em 0.4em;
  min-width: 10%;
  font-weight: bolder;
  color: white;
  background-color: var(--color1);
  border: none;
  border-radius: 15px;
}

.even{
  background-color: var(--color3);
}

.img{
  width: 30px;
  height: 30px;
  background-size: cover;
  background-position: center center; 
}
.FruitsVegetables{
  background-image: url(../../../../assets/imgs/red-pepper.png);
}
.DairyProducts{
  background-image: url(../../../../assets/imgs/cheese.png);
}
.MeatFish{
  background-image: url(../../../../assets/imgs/fish.png);
}
.Bakery{
  background-image: url(../../../../assets/imgs/croissant.png);
}
.CerealsGrainProducts{
  background-image: url(../../../../assets/imgs/sliced-bread.png);
}
.CannedPackagedFoods{
  background-image: url(../../../../assets/imgs/tomato-sauce.png);
}
.Beverages{
  background-image: url(../../../../assets/imgs/juice-bottle.png);
}
.Others{
  background-image: url(../../../../assets/imgs/basket.png);
}
